#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for inkscape

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ --buildsystem=cmake+ninja

override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_BUILD_TYPE=Release

override_dh_auto_test:
	export CTEST_OUTPUT_ON_FAILURE=1
	dh_auto_build -- tests
	cd obj-$(DEB_HOST_GNU_TYPE) && LC_ALL=C.UTF-8 ctest -j 1 -E 'xaml|profile_dir|datadir' -V
